.contacts__container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.contacts__list {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 50px;
}

.contacts__item {
	position: relative;
	list-style: none;
	cursor: pointer;
	text-align: center;
}

.contacts__item a {
	text-decoration: none;
}

.contacts__item a .fa-brands {
	font-size: 100px;
}


.contacts__item a::before {
	font-family: "FontAwesome";
	position: absolute;
	top: 0;
	left: 0;
	font-size: 100px;
	font-weight: 400;
	height: 0;
	overflow: hidden;
	transition: 0.5s ease-in-out;
}

.contacts__item:nth-child(1) a::before {
	content: "\f16d";
	background: linear-gradient(45deg,
			#f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%,
			#bc1888 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.contacts__item:nth-child(2) a::before {
	content: "\f08c";
	color: #1a69cf;
}

.contacts__item:nth-child(3) a::before {
	content: "\f2c6";
	color: #3eb0f7;
}

.contacts__item:nth-child(4) a::before {
	content: "\f09b";
	color: #fff;
}

.contacts__item:hover a::before {
	height: 100%;
}

@media (max-width: 997px) {
	.contacts__item a::before {
		height: 100%;
	}
}